{namespace media=Neos\Media\ViewHelpers}

<h1>Einsatz bearbeiten</h1>

<p>Ändere einfach die entsprechenden Daten um diesen Einsatz zu bearbeiten.</p>

<f:form class="form-horizontal" id="operationForm" action="update" object="{operation}" objectName="operation" enctype="multipart/form-data">

    <div class="form-group">
        <label for="type" class="col-sm-4 control-label">Art</label>
        <div class="col-sm-8">
            <f:form.select property="type" options="{operationTypes}" class="form-control" optionLabelField="label" />
        </div>
    </div>

    <div class="form-group">
        <label for="date" class="col-sm-4 control-label">Datum</label>
        <f:form.hidden property="date" id="datetime" value="{operation.date -> f:format.date( format: 'd.m.Y H:i' )}" additionalAttributes="{required: required}" />
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-7">
                    <input type="text" id="date" class="form-control" required="required" placeholder="DD.MM.YYYY" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9][0-9][0-9][0-9]" />
                </div>
                <div class="col-xs-5">
                    <input type="text" id="time" class="form-control" required="required" placeholder="HH:MM" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="location" class="col-sm-4 control-label">Ort</label>
        <div class="col-sm-8">
            <f:form.textfield property="location" id="location" class="form-control" additionalAttributes="{required: required}" />
        </div>
    </div>

    <div class="form-group">
        <label for="uploadForm" class="col-sm-4 control-label">Fotos</label>
        <div class="col-sm-8">
            <div id="uploaded">
                <f:for each="{operation.images}" as="image">
                    <div>
                        <div class="remove" data-id="{image.identifier}"></div>
                        <img src="{media:uri.image(image: image, maximumHeight: 100, maximumWidth: 100, allowCropping: true)}" alt="" />
                    </div>
                </f:for>
            </div>

            <button type="button" id="uploadFormButton" class="btn btn-default"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-4 control-label">Beschreibung</label>
        <div class="col-sm-8">
            <f:form.textarea rows="5" property="description" id="description" class="form-control" additionalAttributes="{required: required}" />
        </div>
    </div>

    <div class="form-group">
        <label for="bos" class="col-sm-4 control-label">Weitere Kräfte</label>
        <div class="col-sm-8 operationBos">
            <f:for each="{operationBos}" as="bos">
                <div class="checkbox-inline">
                    <label>
                  <f:form.checkbox property="bos" checked="{bos.checked}" multiple="true" value="{bos}" id="{bos.name}" />
               <span>{bos.name}</span></label>
                </div>
            </f:for>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="goback btn btn-default"><i class="fa fa-ban" aria-hidden="true"></i> Abbrechen</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Änderungen speichern</button>

            <f:form.hidden name="images" value="{images}" id="imagesInput" />
        </div>
    </div>
</f:form>

<form action="../../../upload.json" id="uploadForm" method="post" enctype="multipart/form-data" class="hidden">
    <input type="hidden" name="protection" value="{csrfProtectionToken}" />
    <input type="file" name="image[resource]" multiple="true" />
</form>

<script src="{f:uri.resource(path: '/Libraries/jQuery/jquery-2.0.2.min.js', package: 'Neos.Twitter.Bootstrap')}"></script>
<script src="{f:uri.resource(path: 'Vendor/_vendor.min.js', package: 'DRKTettnang.Homepage')}"></script>

<script src="{f:uri.resource(package:'DRKTettnang.OperationHistory', path: 'Vendor/jquery.ui/jquery-ui.min.js')}"></script>
<script src="{f:uri.resource(package:'DRKTettnang.OperationHistory', path: 'Vendor/jquery.fileupload/jquery.fileupload.js')}"></script>
<script src="{f:uri.resource(package:'DRKTettnang.OperationHistory', path: 'Javascripts/operation.form.js')}"></script>
