{namespace media=TYPO3\Media\ViewHelpers}

<p>Insgesamt {offset} Datensätze importiert. <f:link.action action="import" arguments="{offset: offset}">Weitere importieren.</f:link.action></p>

    <f:if condition="{operations}">
        <f:then>
                <f:for each="{operations}" as="operation">
                    <f:render partial="Operation" arguments="{operation:operation}" />
                </f:for>
        </f:then>
        <f:else>
            <p>Keine Einsätze eingetragen.</p>
        </f:else>
    </f:if>
