<f:layout name="Default" />

<f:section name="Title">A list of tests</f:section>

<f:section name="Content">
    <f:if condition="{tests}">
        <f:then>
            <ul>
                <f:for each="{tests}" as="test">
                    <li>
                        <f:link.action action="show" arguments="{test: test}">{test.name}</f:link.action>
                        <f:link.action action="edit" arguments="{test: test}">Edit</f:link.action>
                        <f:form action="delete" arguments="{test: test}">
                            <f:form.submit value="Delete" />
                        </f:form>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p>No tests created yet.</p>
        </f:else>
    </f:if>
    <p><f:link.action action="new">Create a new test</f:link.action></p>
</f:section>